.topnav {position: sticky; overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;}
/* #id1 {
        border-color: rgb(104, 44, 44);
        border-width: medium;
        background-color: rgb(93, 122, 60);
        padding: 20px;
    } */
    *{
      box-sizing: border-box;
    }
body {
  /*   background: rgb(150,238,246);
background: radial-gradient(circle, rgba(150,238,246,1) 0%, rgba(203,181,139,1) 54%, rgba(203,181,139,1) 100%); */ 
    margin-left: 15px;
    margin-right: 15px;
}
h1, h2, h3, p {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
.myClass{ padding: 10px;
  text-align: right; 
  margin: 8px auto 0px; 
  
  }
 article{
  content: "";
  clear: both;
  display: table;
   border-radius: 10px;
  width: 90%;
  max-width: 900px;
  min-width: 500px;
  margin: 1vw auto;

 }   
 figure {
  float: left;
  width: 35vw;
  margin: 2vh 0;
  margin-left: 15px;
  margin-right: 15px;
  
}

article:nth-child(even)>figure {
  float: right;
}

img {
    width: 180px;
    height: auto;
}

.border-class {
    
    border-width: 1px;
    
}
table {
    border-collapse: collapse;
    width: 50%;
    margin: 10px auto; 
  }
  
  table caption {
    font-weight: 800;
    font-size: 1.5rem;
  }
  
  th,
  td {
    text-align: left;
    padding: 6px;
  }
  aside {width:20vw;
  float:right;
position: sticky;
top: 70px;
}

  


  